@{
    ViewBag.Title = "Home";
}

@*<div class="jumbotron home-header">*@
<div class="home-header">
    <h1>Un Peu Café</h1>
    <h2>Experience love at first sip</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Content/Image/Home/UnPeu.jpg" alt="About">
            <div class="caption">
                <h2>Un Peu Café</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mollis sollicitudin nibh, in
                    eleifend nulla tempor id. Etiam pulvinar odio sit amet aliquet fringilla. Integer eget dui id sapien
                    efficitur ultrices ac quis ante. Quisque vulputate pulvinar metus, id vehicula mi facilisis ut.
                </p>
                <p><a href="/Home/About" class="btn btn-default">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Content/Image/Home/Store.jpg" alt="Store">
            <div class="caption">
                <h2>Find a Store</h2>
                <p>
                    Duis a odio urna. Duis id massa egestas, mattis sapien quis, fermentum est. Suspendisse lobortis
                    lectus vel orci blandit eleifend. Proin at quam vitae quam feugiat placerat ac feugiat dolor.
                    Mauris in nulla est. Mauris quis arcu non justo euismod volutpat Mauris cursus erat.
                </p>
                <p><a href="/Branches/Index" class="btn btn-default">Find Us &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Content/Image/Home/Events.jpg" alt="Events">
            <div class="caption">
                <h2>Events</h2>
                <p>
                    Pellentesque porta auctor luctus. Mauris in ornare dui. Sed vel commodo urna. Nunc bibendum
                    tincidunt nibh ut euismod. Aenean semper sem rutrum ipsum rhoncus, vel consectetur ligula volutpat.
                    Ut nunc purus, venenatis non dui a, fringilla euismod arcu.
                </p>
                <p><a href="/BranchEvents/Index" class="btn btn-default">Book Now &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
